@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <meta http-equiv="Content-Security-Policy"
          content="base-uri 'self' https://startbootstrap.com/;
        default-src 'self'
                   http://localhost:64187/6ceddc7d31eb442bb30f5db42a85f656/browserLinkSignalR/negotiate
                   http://localhost:64187/6ceddc7d31eb442bb30f5db42a85f656/browserLinkSignalR/negotiate;
        connect-src 'self' http://localhost:64187 wss://localhost:44387 ;
        img-src data: https:
                      'self';
        object-src 'none';
        script-src
                   'self'
                   'unsafe-inline'
                   'unsafe-eval';
        script-src-elem 'self'
                  'sha256-q3akkuDDQH+ArNT1eqIj4+9SUnA2KBnJohMyfEWOvqU=';
        font-src fonts.gstatic.com
                https://localhost:44365/lib/font-awesome/webfonts/fa-brands-400.woff2
                https://localhost:44365/lib/font-awesome/webfonts/fa-brands-400.ttf
                https://localhost:44365/lib/font-awesome/webfonts/fa-regular-400.woff2
                https://localhost:44365/lib/font-awesome/webfonts/fa-regular-400.ttf
                https://localhost:44365/lib/font-awesome/webfonts/fa-solid-900.woff2
                https://localhost:44365/lib/font-awesome/webfonts/fa-solid-900.ttf
                https://localhost:44365/lib/font-awesome/webfonts/fa-brands-400.woff2
                https://localhost:44365/lib/font-awesome/webfonts/fa-brands-400.ttf
                https://localhost:44365/lib/font-awesome/webfonts/fa-v4compatibility.woff2
                https://localhost:44365/lib/font-awesome/webfonts/fa-v4compatibility.ttf;
        style-src
                  'self'
                  'unsafe-inline'
;
        upgrade-insecure-requests;"> *@

    <title>@ViewData["Title"] BricksNBeyond</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntexQueensSlay.styles.css" asp-append-version="true" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="icon" href="~/lib/LegoFace.ico" />

</head>
<body>
    <header>
        @if (User.IsInRole("Admin"))
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/bricksnbeyond4.png" alt="IntexQueensSlay Logo" class="navbar-logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Secrets">Secrets</a>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="CRUDProducts">Admin</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="ReviewOrders">Review Orders</a>
                            </li> *@
                        </ul>
                        <div class="d-flex align-items-center">
                            <partial name="_LoginPartial" />
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 navbar-text text-end" style="width: 200px;">
                                        <vc:cart-summary />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blue border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/bricksnbeyond4.png" alt="IntexQueensSlay Logo" class="navbar-logo" />
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Secrets">Secrets</a>
                            </li> *@
                        </ul>
                        <div class="d-flex align-items-center">
                            <div class="pe-1">
                                <partial name="_LoginPartial" />
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-6 navbar-text text-end" style="width: 200px;">
                                        <vc:cart-summary />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        }
    </header>

    

 

    <div class="row m-1 p-1">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    
    <footer class="border-top footer text-muted" style="background-color: #F2CD37; color: black;">
        <div class="container" style="color:black;">
            &copy; 2024 - BricksNBeyond - <a asp-area="" asp-controller="Home" asp-action="Privacy" style="color: black;">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
