@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<header class="bg py-3" style="background-color: #F2CD37; color: black; border: 1px solid black;">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">About Us</h1>
        </div>
    </div>
</header>

<br />
<div class="container">

    <section class="about-us">
        <div class="container">
            <h5>Welcome to BricksNBeyond, your go-to source for all things LEGO. From the rarest sets to the latest releases, we pride ourselves on providing a vast selection for LEGO enthusiasts of all ages.</h5>
            <br />
            <h3>Our Story</h3>
            <p>BricksNBeyond was founded by Aurora Brickwell, a lifelong LEGO lover with a passion for building and creativity. What started as a hobby of selling LEGO sets on social media quickly grew into a thriving community of fellow LEGO enthusiasts. Recognizing the need for a dedicated platform, Aurora decided to take her passion to the next level by launching this website.</p>

            <h3>Our Mission</h3>
            <p>Our mission is simple: to connect LEGO fans with the sets they love. We believe that LEGO building is more than just a pastime—it's a way to inspire creativity, challenge oneself, and even relieve stress. Whether you're a collector looking for a rare piece to complete your collection or a parent searching for the perfect set for your child, we're here to help.</p>

            <h3>Why Choose Us?</h3>
            <ul>
                <li><strong>Curated Selection:</strong> We meticulously select our inventory to ensure you have access to the best and most sought-after LEGO sets.</li>
                <li><strong>Community Focus:</strong> BricksNBeyond is more than just a store—it's a community. We host events, competitions, and online forums to connect LEGO fans from around the world.</li>
                <li><strong>Exceptional Service:</strong> Our team is dedicated to providing you with the best shopping experience possible. From easy navigation to hassle-free returns, we make it easy for you to get the LEGO sets you want.</li>
            </ul>

            <p>Thank you for choosing BricksNBeyond. Happy building!</p>

            <p><strong>Aurora Brickwell</strong><br>Founder, BricksNBeyond</p>
        </div>
    </section>
</div>
