@model Orders

<h2><b>Checkout</b></h2>

<form method="post" asp-action="EditProduct">
    <input type="hidden" asp-for="TransactionId" />
    <input type="hidden" asp-for="CustomerId" />

    <div class="form-group">
        <label for="TransactionType" class="control-label">Transaction Type</label>
        <input asp-for="TransactionType" class="form-control" />
        <span asp-validation-for="TransactionType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="TransCountry" class="control-label">Transaction Country</label>
        <input asp-for="TransCountry" class="form-control" />
        <span asp-validation-for="TransCountry" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ShippingAddress" class="control-label">Shipping Address</label>
        <input asp-for="ShippingAddress" class="form-control" />
        <span asp-validation-for="ShippingAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Bank" class="control-label">Bank</label>
        <input asp-for="Bank" class="form-control" />
        <span asp-validation-for="Bank" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="CardType" class="control-label">Card Type</label>
        <input asp-for="CardType" class="form-control" />
        <span asp-validation-for="CardType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Subtotal" class="control-label">Subtotal</label>
        <input asp-for="Subtotal" class="form-control" readonly />
    </div>

    <div class="form-group">
        <a asp-action="OrderConfirmation" class="btn btn-primary">Place Order</a>
    </div>

</form>
