@model Product

<div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
    <div class="form-group">
        <h1>SUCCESS!</h1>
        <br /><br />
        <a asp-action="CRUDProducts" class="btn blue-button">Return to Products Summary</a>
    </div>

    <!-- Container for the Lego Man image -->
    <div style="flex: 1; max-width: 50%; padding-right: 100px; box-sizing: border-box; text-align: right; display: flex; align-items: flex-end; justify-content: flex-end;">
        <img src="~/img/lego - confirmedit2.png" alt="Lego Man" style="width: 100%; height: auto;" />
    </div>
</div>

