@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Customer
<div class="mx-auto w-75">

    <h2><b>Update Customer</b></h2>


    @* asp-action="EditCustomer" *@

    <form method="post">
        <input type="hidden" asp-for="CustomerId" />
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BirthDate" class="control-label"></label>
            <input asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResCountry" class="control-label"></label>
            <input asp-for="ResCountry" class="form-control" />
            <span asp-validation-for="ResCountry" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="control-label"></label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn blue-button">Update Customer</button>
        </div>

      @*   <div class="form-group">
            <a asp-action="EditAdminConfirm" class="btn blue-button">Update Customer</a>
            <button type="submit">Submit</button>
        </div> *@

    </form>
</div>

