

@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/cookieConsent.js"></script>

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to BricksNBeyond!</h1>
        <p>Start your lego journey with us</p>
    </div>

    <h3>Recommended Products</h3>

    <br />
    <br />

 

   

    <br /><br><br /><br />
    <div style="width: auto; display: inline-block;">
        <a class="nav-link text-dark btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Products">View All Products</a>
    </div>
    <!-- Cookie consent banner markup -->
    <div id="cookieConsentBanner" style="display: none; position: fixed; bottom: 75px; left: 50%; transform: translateX(-50%); width: 80%; max-width: 600px; background-color: #f8f9fa; padding: 20px; text-align: center; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <p>This website uses cookies to ensure you get the best experience. By using our site, you consent to our <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>.</p>
        <button onclick="giveConsent()">Accept</button>
        <button onclick="declineConsent()">Decline</button>
    </div>
    <div>
        @if (ViewBag.ShowConsentBanner != null && (bool)ViewBag.ShowConsentBanner)
        {
            <script>
                // Call JavaScript function to show the consent banner
                showConsentBannerWithDelay();
            </script>
        }
    </div>
</div>
