@{
    ViewData["Title"] = "Home Page";
}
@model List<Customer>

 <br /><br />
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to BricksNBeyond!</h1>
        <p>Start your lego journey with us</p>
    </div>

    <h3>Recommended Products</h3>

    <br />
    <br />

    <div style="width: auto; display: inline-block;">
        <a class="nav-link text-dark btn btn-primary btn-sm" asp-area="" asp-controller="Home" asp-action="Products">View All Products</a>
    </div>
</div>
@foreach (Customer c in Model)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>First: @c.FirstName</li>
        <li>Last: @c.LastName</li>
    </ul>
    </div>
}

