@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Customer>

@foreach (var c in Model)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>First: @c.firstName</li>
        <li>Last: @c.lastName</li>
    </ul>
    </div>
}

