@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1>ORDER RECEIVED</h1>
    <br /><br />

    <h2>Thank you for your purchase! A confirmation has been sent to your email.</h2>
    <br /><br />

    <div style="width: auto; display: inline-block;">
        <a class="nav-link text-dark btn blue-button btn-sm" asp-area="" asp-controller="Home" asp-action="Products">Continue Shopping</a>
    </div>
</div>