@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Product
@* 
<div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
    <!-- Container for the product and actions -->
    <div style="flex: 1; max-width: 40%; padding-right: 5px; box-sizing: border-box;">
        <img class="card-img-top" src="@Model.ImgLink" alt="Product Image" style="max-width: 50%; height: auto; object-fit: contain;" />
        <h2>@Model.Name</h2>
        <div class="form-group">
            <a asp-action="CRUDProducts" class="btn btn-primary">NO, don't remove</a>
            <a asp-action="RemoveConfirmation" class="btn btn-danger">YES, remove</a>
        </div>
    </div>

    <!-- Container for the Lego Man image -->
    <div style="flex: 1; max-width: 60%; padding-left: 5px; box-sizing: border-box; text-align: right; display: flex; align-items: flex-end; justify-content: flex-end;">
        <img src="~/img/legoman - remove2.png" alt="Lego Man" style="width: 100%; height: auto;" />
    </div>
</div>
 *@

<div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
    <!-- Container for the product and actions -->
    <div class="container text-center" style="flex: 1; max-width: 30%; padding: 5px 20px; box-sizing: border-box;">
        <img class="card-img-top" src="@Model.ImgLink" alt="Product Image" style="max-width: 50%; height: auto; object-fit: contain;" />
        <br />
        <h2>@Model.Name</h2>
        <br />
        <div class="form-group">
            <a asp-action="CRUDProducts" class="btn blue-button">NO, don't remove</a>
            <a asp-action="RemoveConfirmation" class="btn red-button">YES, remove</a>
        </div>
    </div>

    <!-- Container for the Lego Man image -->
    <div style="flex: 1; max-width: 40%; padding: 20px 5px; box-sizing: border-box; text-align: right; display: flex; align-items: flex-end; justify-content: flex-end;">
        <img src="~/img/legoman - remove2.png" alt="Lego Man" style="width: 80%; height: auto;" />
    </div>
</div>



