@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container py-3 d-flex align-items-center justify-content-center" style="background-color: #F2CD37; border: none;">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-center">
                <div class="col-md-10" style="background-color: #D21404; padding: 20px; margin-bottom: 0;">
                    <section style="margin-bottom: 0;">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <h2 style="margin-bottom: 20px;">Create a new account</h2>
                            <hr style="margin-top: 0; margin-bottom: 20px;" />
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3" style="margin-bottom: 20px;">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                <label asp-for="Input.Email" class="form-label">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3" style="margin-bottom: 20px;">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.Password" class="form-label">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3" style="margin-bottom: 20px;">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button id="registerSubmit" type="submit" class="w-100 blue-button">Register</button>
                            <div>
                                <p style="margin-top: 20px;">
                                    Already have an account? <a asp-page="./Login" style="color: black;">Log in here</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/img/buildinggif.gif" class="img-fluid" alt="Lego Gif">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
