@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<string>

<div class="d-grid gap-2">
    <h4>@ViewBag.ProductCatFilterTitle</h4>

    @foreach (string pc in Model ?? Enumerable.Empty<string>())
    {
        <a class="btn @(pc == ViewBag.SelectedProductCat ? "btn-primary" : "btn-outline-secondary")" asp-controller="Home" asp-action="Products" asp-route-productCat="@pc" asp-route-pageNum="1">@pc</a>
    }
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Products" asp-route-productCat="" asp-route-pageNum="">Clear All Filters</a>
</div>
